<h1>login</h1>
<%= flash.now[:alert] %>
<%= form_tag sessions_path do %>
  <%= label_tag :account %>
  <%= text_field_tag :account, params[:account] %>
  <%= label_tag :password %>
  <%= password_field_tag :password, params[:password] %>
  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  <%= label_tag :remember_me %>
  <%= submit_tag 'Log in' %>
<% end %>

<%= link_to 'Signup', new_user_path %>