<h1>Blog</h1>

<%= form_for(@blog) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :contents %>
    <%= f.text_area :contents %>
    <%= f.submit %>
<% end %>